/* -------  brend gnb의 지구를 위한 활동 페이지 시작  ------- */
main {}
/* 상단영역 - 이미지 백그라운드로 처리 */
main .top {
    background-image:url('../images/category/brand_earth/EP02_003_brand_LP_1_top.jpg') ;
    background-position:top;
    background-size:cover;
    content:'';
    display: block;
    width: 100%;
    height: 75vh;
    position: relative;
}
main .top p {
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50% , -50%);
    display: flex; flex-flow: column nowrap; 
    align-items: center; justify-content: center; 
}
main .top p img {}
/* 카테고리 안내 */
main .container {
    display: flex; flex-flow: column nowrap; margin: 0 auto;
    text-align: center; width: 1420px;
}
main .cate {
    padding: 30px 0; 
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
    display: flex; justify-content: center;
}
main .cate a {
    padding: 15px 80px; 
    font-weight: 700; color: #333;
}
main .cate a:nth-child(1) {font-weight: 800; font-size: 1.1rem;}
/* 지구를 위한 활동 - 1번 컨테이너 */
main .container .fsc_earth {
    padding: 100px 0;
    display: flex; flex-flow: column nowrap; align-items: center;
}
main .container .fsc_earth .contents {}
main .container .fsc_earth .con1 {
    display: flex; flex-flow: row nowrap; 
    align-items: center; justify-content: flex-start;
}
main .container .fsc_earth .con1 p {}
main .container .fsc_earth .con1 p img {margin-right: 20px;}
main .container .fsc_earth .con1 .title1 {}
main .container .fsc_earth .con1 .title1 h1 {font-size: 1.125rem;}
main .container .fsc_earth .con1 .title1 h1 strong {font-size: 1.3rem;margin-left: 3px;}
main .container .fsc_earth .con1 .title1 h1 em {
    font-style: italic; 
    font-size: 1.3rem; margin-left: 5px;

}
main .container .fsc_earth .con1 .title1 h2 {font-size: 2.125rem; font-weight: 800; margin-top: 10px;}
main .container > .fsc_earth > p {
    font-size: 1.125rem; line-height: 1.6; margin: 20px 0 100px;
}
main .container .fsc_earth p em {font-size: 1.125rem; color: #047f05;}
/* 사진영역 */
main .container .fsc_earth .photo1 {
    width: 100%; 
    position: relative;
}
main .container .fsc_earth .photo1 .bg1 {
    display: grid; grid-template-areas: 'i1 i2' 'i1 i3';
    grid-template-columns: 60% 40%;
}
main .container .fsc_earth .photo1 .bg2 {
    display: grid; grid-template-areas: 'i4 i5';
    grid-template-columns: 50% 50%; margin-top: 15px;
}
main .container .fsc_earth > .photo1 > .bg1 span:nth-child(1) {
    background-image:url('../images/category/brand_earth/EP02_003_brand_LP_2-1.jpg') ;
    background-size:cover;
    content:'';
    display: block;
    width: calc(100% - 15px);  height: 800px;
    grid-area: i1;
}
main .container .fsc_earth > .photo1 > .bg1 span:nth-child(2) {
    background-image:url('../images/category/brand_earth/EP02_003_brand_LP_3-1.jpg') ;
    background-size:cover;
    content:'';
    display: block;
    width: calc(100% - 10px); height: auto;
    grid-area: i2; 
}
main .container .fsc_earth > .photo1 > .bg1 span:nth-child(3) {
    background-image:url('../images/category/brand_earth/EP02_003_brand_LP_4-1.jpg') ;
    background-size:cover;
    content:'';
    display: block;
    width: calc(100% - 10px); height: auto;
    grid-area: i3; margin-top: 15px;
}
main .container .fsc_earth > .photo1 > .bg2 span:nth-child(1) {
    background-image:url('../images/category/brand_earth/EP02_003_brand_LP_5.jpg') ;
    background-size:cover;
    content:'';
    display: block;
    width: calc(100% - 15px); height: 600px;
    grid-area: i4;
}
main .container .fsc_earth > .photo1 > .bg2 span:nth-child(2) {
    background-image:url('../images/category/brand_earth/EP02_003_brand_LP_6.jpg') ;
    background-size:cover;
    content:'';
    display: block;
    width: calc(100% - 15px); height: auto;
    grid-area: i5; 
}
main .container > .fsc_earth > .photo1 > .text > span:nth-child(1) {left: -960px; bottom: 60px;}
main .container > .fsc_earth > .photo1 > .text > span:nth-child(2) {left: -380px; bottom: 240px;}
main .container > .fsc_earth > .photo1 > .text > span:nth-child(3) {left: -380px; bottom: 60px; }
main .container > .fsc_earth > .photo1 > .text > span:nth-child(4) {right: 390px; bottom: 60px;}
main .container > .fsc_earth > .photo1 > .text > span:nth-child(5) {right: 90px; bottom: 240px;}
main .container > .fsc_earth > .photo1 > .text > span:nth-child(6) {right: 70px; bottom: 60px;}
main .container > .fsc_earth > .photo1 > .text > span i[class*=arrow] {margin: 0 6px;}
main .container > .fsc_earth > .photo1 > .text > span {
    position: absolute; bottom: 100px; right: 0; color:#333; font-weight: 600;
}
main .container .fsc_earth .photo1 .text span em {color: #777; font-weight: 600;}
main .container .fsc_earth .photo1 .text span strong {color: #171C8F; font-weight: 600;}
/* 산림 보호를 위한 노력 - FSC 인증 지류 사용 */
main .container > .fsc_forest {
    padding: 100px 0px;
    display: flex; flex-flow: column nowrap; align-items: center;
}
main .container .fsc_forest .con2 {
    display: flex; flex-flow: row nowrap; 
    align-items: center; justify-content: flex-start;
}
main .container .fsc_forest .con2 p {}
main .container .fsc_forest .con2 p img {margin-right: 20px;}
main .container .fsc_forest .con2 .title2 {}
main .container .fsc_forest .con2 .title2 h1 {font-size: 1.125rem;}
main .container .fsc_forest .con2 .title2 h2 {font-size: 2.125rem; font-weight: 800; margin-top: 10px;}
main .container > .fsc_forest > p {
    font-size: 1.125rem; line-height: 1.6; margin: 20px 0 100px;
}
main > .container > .fsc_forest > .photo2 {
    width:100%;
    display: grid;
    grid-template-areas: 
    'box1 box1'
    'box2 box4'
    'box3 box4';
}
main .container .fsc_forest .photo2 span {margin: 10px 10px;}
main .container > .fsc_forest > .photo2 > span:nth-child(1) {
    background-image:url('../images/category/brand_earth/EP02_003_brand_LP_7.jpg');
    background-size:cover;
    background-position: center;
    content:'';
    display: block;
    width:100%; height: 700px;
    grid-area: box1;
}
main .container .fsc_forest > .photo2 > span:nth-child(2) {
    background-image:url('../images/category/brand_earth/EM02_003_brand_LP_8.jpg');
    background-size:cover;
    background-position: center;
    content:'';
    display: block;
    width:calc(100% - 15px); height: auto;
    grid-area: box2;
}
main .container .fsc_forest > .photo2 > span:nth-child(3) {
    background-image:url('../images/category/brand_earth/EM02_003_brand_LP_15.png');
    background-size:cover;
    background-position: left;
    content:'';
    display: block;
    width: calc(100% - 15px); height:auto;
    grid-area: box3;
}
main .container .fsc_forest > .photo2 > span:nth-child(4) {
    background-image:url('../images/category/brand_earth/EM02_003_brand_LP_.jpg');
    background-size:cover;
    background-position: center;
    content:'';
    display: block;
    width:100%; height: 800px;
    grid-area: box4;
}
/* RECYCLE - 재활용 방법 안내 */
main .container .recycle {
    padding: 100px 0;
    display: flex; flex-flow: column nowrap; align-items: center;
    margin: 0 auto;
}
main .container .recycle .con3 {
    display: flex; flex-flow: row nowrap; 
    align-items: center; justify-content: flex-start;
}
main .container .recycle .con3 p {}
main .container .recycle .con3 p img {margin-right: 20px;}
main .container .recycle .con3 .title3 {}
main .container .recycle .con3 .title3 h1 {font-size: 2.125rem; font-weight: 800;}
main .container .recycle .con3 .title3 h2 {font-size: 1.5rem; margin-top: 10px;}
main .container .recycle .photo_box {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between; align-items: center;
    text-align: left; 
}
main .container .recycle .photo_box .step1 ,
main .container .recycle .photo_box .step2 ,
main .container .recycle .photo_box .step3 {margin-top:100px; margin-right: 15px;}
main .container .recycle .photo_box .step3 {margin-right: 0px;}
main .container .recycle .photo_box .step1 p ,
main .container .recycle .photo_box .step2 p ,
main .container .recycle .photo_box .step3 p {margin: 20px 0;}
main .container .recycle .photo_box .step1 p img,
main .container .recycle .photo_box .step2 p img,
main .container .recycle .photo_box .step3 p img {}
main .container .recycle .photo_box .step1 p em,
main .container .recycle .photo_box .step2 p em,
main .container .recycle .photo_box .step3 p em {font-size: 1.875rem; font-weight: 800; }
main .container .recycle .photo_box .step1 p:last-child,
main .container .recycle .photo_box .step2 p:last-child,
main .container .recycle .photo_box .step3 p:last-child {font-size: 1.125rem;}
/* 마지막 안내 문구 */
main .container .last_container {margin: 70px 0 220px;}
main .container .last_container p {}
main .container .last_container p img {}
main .container .last_container p:last-child {font-size: 1.5rem; font-weight: 600; line-height: 1.4; margin-top: 10px;}