/* nav -> product -> 신제품 카테고리 */
body, html {scroll-behavior: smooth;}
main {/* display: flex; justify-content: space-between; */}
/* 왼쪽 bg 이미지 영역 */
main .bg {
    background-image: url('../images/category/img-categoty-new1.jpg');
    width:30%; height:100vh; overflow:hidden;
    background-size:cover;
    background-position:center;
    position: fixed;
}
/* 오른쪽 상품 리스트 영역 */
main .container {
    width: 70%; padding: 140px 60px 100px 25px;
    float: right;
}
/* 타이틀 1단락 - gnb */
main .container .top_gnb {display: flex; flex-flow: row nowrap; align-items: center;}
main .container .top_gnb .cate_name {}
main .container .top_gnb .cate_name a {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between; align-items: center;
}
main .container .top_gnb .cate_name a h1 {
    font-size: 2rem;
    font-weight: 700;
    padding: 12px 40px 10px 20px;
}
main .container .top_gnb .cate_name a p {}
main .container .top_gnb .cate_name a p img {}
main .container .top_gnb .cate_name .box {position: absolute; display: none;}
main .container .top_gnb .cate_name .box a {}
main .container .top_gnb .comment {}
main .container .top_gnb .comment p {font-size: 0.938rem; margin-left: 20px; font-weight: 400;}
/* 타이틀 2단락 - lnb */
main .container .top_lnb {
    display: flex; flex-flow: row nowrap; 
    align-items: center; justify-content: space-between;
    padding: 30px 4px 30px;
}
main .container .top_lnb .left {}
main .container .top_lnb .left p {font-weight: 500;}
main .container .top_lnb .right {}
main .container .top_lnb .right a {}
main .container .top_lnb .right a > i[class*=fa] {font-size: 1.4rem;}
main .container .top_lnb .right a:nth-child(1) > i[class$=list] {color:#777;}
main .container .top_lnb .right a:nth-child(1):hover i[class$=list]{color:#000; }
main .container .top_lnb .right a:nth-child(2) > i[class$=maximize] {color:#777; transform: scaleY(-1);}
main .container .top_lnb .right a:nth-child(2):hover i[class$=maximize]{color:#000; }
main .container .top_lnb .right a:nth-child(3) > i[class$=large] {color:#777;}
main .container .top_lnb .right a:nth-child(3):hover i[class$=large]{color:#000; }
main .container .top_lnb .right a:nth-child(4) {
    padding: 10px 0 10px 30px;
}
main .container .top_lnb .right a:nth-child(4) span {
    text-align: center;
    line-height: 38px;
}
main .container .top_lnb .right a:nth-child(4) img {
    margin-left: 15px; transform: translateY(5px);
}
main .container .top_lnb .right .sub_arrange {display: none;}
main .container .top_lnb .right .sub_arrange a {}
/* 상품 리스트 영역 */
main .container .item_list {}
main .container .item_list ul {
    display: flex; flex-flow:row wrap; 
    justify-content: space-between; align-items: flex-start;
}
main .container .item_list ul li {width:calc((100% / 3) - 10px);}
main .container .item_list ul li .thumb {
    position:relative;  overflow: hidden;
}
main .container .item_list ul li .thumb a {}
main .container .item_list ul li .thumb a img {
    width:100%; border-top-right-radius:4px; border-top-left-radius: 4px;
}
main .container .item_list ul li .thumb a .icon_new {
    padding: 2px 6px; 
    color: #f5e2e2; background-color: #111; 
    border-radius: 2px; font-size: 0.813rem; font-weight: 700;
    position:absolute; left: 10px; top: 10px;
}
main .container .item_list ul li .item_info {
    background-color: rgba(250, 250, 250, 0.4);
    padding: 15px 20px;
    transform: translateY(-5px);
}
main .container .item_list ul li .item_info p:nth-child(1) {
    font-size: 0.875rem; color:#777;
    margin-bottom: 5px;
}
main .container .item_list ul li .item_info h3 {
    margin-bottom: 40px;
    min-height: 52px;
}
main .container .item_list ul li .item_info h3 a {
    font-size: 1.125rem; font-weight: 500; color:#111;
}
main .container .item_list ul li .item_info .price {
    font-size: 1.125rem; padding: 6px 12px; background-color: #fff;
    border: 1px solid #d9d9d9; font-size: 0.875rem;
    color:#111; align-content: center;
}
main .container .item_list ul li .item_info .price em {
    font-size: 1.125rem; font-weight: 700; margin-right: 2px;
}
main .container .item_list ul li .item_info .item_option {
    display: flex;
}
main .container .item_list ul li .item_info .item_option a {
    margin: 2px 6px 12px 0;
}
main .container .item_list ul li .item_info .item_option a img {
    width:24px; height:24px; border-radius: 50%;
}
/* 하단 숫자, 버튼 영역 */
main .container .btn_arrow {}
main .container .btn_arrow a {}
main .container .btn_arrow a img {}
main .container .btn_arrow a span {}
main .container .btn_arrow a span:nth-child(1) {}