/* 사이트 이동하기 버튼 */
.btn {display: none;}
.btn .btn_up {}
.btn .btn_up img {}
.btn .btn_plus {}
.btn .btn_plus img {}
.btn #plus_popup {}
.btn #plus_popup a {}
.btn #plus_popup a span {}
.btn #plus_popup a img {}
/* header 영역 */
header {
    display: flex; flex-flow: row nowrap;
    /* justify-content: space-between; */
    align-items: center;
    height: 100px; width:100%; margin: 0 auto;
    padding: 33px 60px 0 70px; position:relative;
}
header > .left {display: flex; align-items: center;}
header .left h1 {}
header .left h1 a {}
header .left h1 a img {width:108px;}
/* header > nav */
header .left nav {}
header .left nav .gnb {display: flex;}
header .left nav .gnb li {}
header .left nav .gnb > li > a {
    margin-left: 60px; color:#333;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 800; letter-spacing: -0.02em;
}
/* header > nav > product 의 lnb영역 */
/* product lnb영역 bg */
header .left nav .gnb li:nth-child(1):hover .lnb_bg,
header .left nav .gnb li:nth-child(1):hover .lnb1 {display: block;}
header > .lnb_bg1 {}
header .left nav .gnb li:nth-child(1) .lnb_bg {
    display: none;
    background-color:rgba(255, 255, 255, 0.5);
    position: absolute;
    top:0; left:0; width:100%; height: 460px; z-index: -100;}
header .left nav .gnb li .lnb1 { 
    display: none;
    color:#111; 
    width: 1400px;  position: absolute; left:236px; top:100px; 
}
header .left nav .gnb li .lnb1 .left {
    display: inline-block; 
    width: 100px; top:0px; 
}
header .left nav .gnb li .lnb1 .left a:hover {color:#666;}
header .left nav .gnb li .lnb1 .left a {
    display: block; margin-bottom: 20px;
    font-weight: 500;
}
header .left nav .gnb li .lnb1 .left a:nth-child(1) img {margin-left: 32px;}
header .left nav .gnb li .lnb1 .left a:nth-child(2) img {margin-left: 18px;}
header .left nav .gnb li .lnb1 .right {
    flex-flow:row nowrap; 
    align-items:flex-start; 
    margin:0 20px; position: absolute; left:95px; top:0px;
}
header .left nav .gnb li .lnb1 .right > li {padding:0 20px;}
header .left nav .gnb li .lnb1 .right > li > a {font-weight: 500; color:#111;}
header .left nav .gnb li .lnb1 .right > li > ul {margin-top:20px;}
header .left nav .gnb li .lnb1 .right > li > ul > li {margin-bottom: 10px;}
header .left nav .gnb li .lnb1 .right > li > ul > li > a {
    font-weight: normal;
    font-size: 0.875rem;
}
/* header > nav > brand 의 lnb영역 */
/* brand lnb영역 bg */
header .left nav .gnb li:nth-child(2):hover > .lnb2,
header .left nav .gnb li:nth-child(2):hover .lnb_bg{display: block;}
header .left nav .gnb li:nth-child(2) .lnb_bg {
    display:none; 
    /* background-color:rgba(255, 255, 255, 0.5); */
    width:100%; height: 150px;
    position: absolute; top:0; left:0;
    z-index: -100;
}
header .left nav .gnb li .lnb2 {
    display: none; 
    position: absolute; top:100px; left:365px; 
} 
header .left nav .gnb li .lnb2 > a:first-child {
    font-family: 'Sofia Sans', sans-serif;
    letter-spacing: -0.02rem; font-weight: 600;
}
header .left nav .gnb li .lnb2 > a:last-child {margin-right: 0;}
header .left nav .gnb li .lnb2 > a {
    margin-right: 30px;
}
/* header > 오른쪽 검색 & 햄버거 아이콘 영역 */
header .right {display: flex; align-items: center; position: absolute; right: 80px;}
header .right .btn_search {}
header .right .btn_search img {margin-right: 10px; width: 40px;}
header .right .btn_barmenu {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
}
header .right .btn_barmenu span {
    content: ''; display: inline-block; 
    width:21px; background-color: #333;
    margin:4px 0; height: 2px;
}
/* header > right > 검색할 때 열리는 창  */
header .search_bg {
    position: absolute;
    left: 0; top:0;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(12px);
    width:100%; height: 395px ;
    padding: 22px 80px 0px 70px;
}
header .search_bg .src_head {
    display: flex; flex-flow:row nowrap; justify-content:space-between;
    margin-top: 31px;
}
header .search_bg .src_head h1 {}
header .search_bg .src_head h1 a {}
header .search_bg .src_head h1 a img {width:108px;}
header .search_bg .src_head .btn_x {}
header .search_bg .src_head .btn_x span:nth-child(1) {width: 2px;transform:translate(5px) rotate(45deg) ;}
header .search_bg .src_head .btn_x span:nth-child(2) {width: 2px;transform:rotate(-45deg);}
header .search_bg .src_head .btn_x span {
    content: ''; display: inline-block; 
    height: 30px; background-color: #333;
}
header .search_bg .src_contens {
    display: flex; flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
}
header .search_bg .src_contens h2 {
    font-size: 1.8133rem; font-weight: 700;
    color: #191919;
    letter-spacing: -0.02em;
    margin: 60px auto 0;
}
header .search_bg .src_contens .search_form {
    background: rgba(231, 232, 234, 0.5); border-radius: 10px;
    height: 40px; width: 1000px;
    margin: 30px auto 35px; outline: none;
}
header .search_bg .src_contens .search_form fieldset {
    display: flex; margin: 0 auto;
}
header .search_bg .src_contens .search_form fieldset #search_form {
    width:calc(100% - 44px); padding:0 15px; outline: none;
}
header .search_bg .src_contens .search_form fieldset #src_btn {}
header .search_bg .src_contens .search_form fieldset #src_btn img {width: 90%;}
header .search_bg .src_contens .src_comment {
    display: flex; flex-flow:row wrap;
    align-items: center;
    /* width:80%; */
}
header .search_bg .src_contens .src_comment h3 {
    font-size: 1.563rem; font-weight: 200;
}
header .search_bg .src_contens .src_comment h3 > span {
    font-size: 1.563rem; font-weight: 700;
}
header .search_bg .src_contens .src_comment a {
    margin-left:20px; 
}
header .search_bg .src_contens .src_comment a span {
    padding: 3px 15px; 
    border: 1px solid rgba(166,166,166,0.5); border-radius: 20px;
}
/* header > right > 햄버거바 클릭할 때 열리는 창 */
/* header .menu_bg {
    display: none;
    position: absolute; top:0;
    width: 100%; left: 0;
    height: 100vh; z-index: -200;
} */
header .side_category {
    /* display: none; */
    z-index: -100;
    background: linear-gradient(180deg, rgba(245, 226, 226, 0.65) 0%, rgba(242, 198, 207, 0.65) 127.47%); backdrop-filter: blur(12px);
    padding: 0 50% 16px 0 ; text-align: right; 
    opacity: 1; top:0; left: 0; position: absolute;
    display: flex; flex-flow: column wrap; justify-content: center; width: 100%;
    height: 100vh; 
}
header .side_category > li {}
header .side_category > li > a {
    font-size: 1.875rem; font-weight: 600;
    line-height: 2; position: relative;
}
/* 햄버거메뉴 > lnb */
header .side_category li .side_lnb {
    display: flex; flex-flow:column nowrap; position: absolute; 
    padding: 0 0 16px 50% ; 
    margin-left: 50px;
}
header .side_category li .side_lnb a {
    text-align: left;
    display: flex; justify-content: space-between; flex-flow:row nowrap; 
    align-items: center;
    width:200px; 
}
/* 햄버거메뉴 > brand-lnb */
header .side_category li:nth-child(1):hover .side_lnb { display: block;}
header .side_category li:nth-child(1) .side_lnb { display: none; top:210px;}
header .side_category li:nth-child(1) .side_lnb a {
    font-size: 1.4rem; margin-bottom: 20px; font-weight: 500;


}
header .side_category li:nth-child(1) .side_lnb a img {height: 20px;}
/* 햄버거메뉴 > product-lnb */
header .side_category li:nth-child(2):hover .side_lnb {display: block;}
header .side_category li:nth-child(2) .side_lnb {display: none; top:270px; }
header .side_category li:nth-child(2) .side_lnb a:nth-child(1) {
    position: relative; font-size: 1.4rem; margin-bottom: 20px;
    font-weight: 400; color:#111; font-weight: 500;
}
header .side_category li:nth-child(2) .side_lnb a:nth-child(2) {
    position: relative; font-size: 1.4rem; margin-bottom: 12px; color:#111; font-weight: 500;
}
header .side_category li:nth-child(2) .side_lnb a {margin-bottom: 12px; color: #666;}
header .side_category li:nth-child(2) .side_lnb a img {height: 20px;}
/* 햄버거 사이드 메뉴 */
/* ---------  product-lnb의 아이 ★sub lnb★ */
header .side_category li:nth-child(2) .side_lnb:nth-child(4):hover + .side_sub_eye {display: block;}
header .side_category li:nth-child(2) .side_lnb .side_sub_eye {
    display: none;
    position: absolute; right: -180px; top: 120px;
}
header .side_category li:nth-child(2) .side_lnb .side_sub_eye a {
    font-size: 1rem; margin-bottom: 10px; color: #666;
}
/* 햄버거 사이드 메뉴 */
/* ---------  product-lnb의 립 ★sub lnb★ */
header .side_category li:nth-child(2) .side_lnb:nth-child(5):hover + .side_sub_lip {display: block;}
header .side_category li:nth-child(2) .side_lnb .side_sub_lip {
    display: none;
    position: absolute; right: -180px; top: 150px;
}
header .side_category li:nth-child(2) .side_lnb .side_sub_lip a {
    font-size: 1rem; margin-bottom: 10px; color: #666;
}
/* 햄버거 사이드 메뉴 */
/* ---------  product-lnb의 페이스 ★sub lnb★ */ 
header .side_category li:nth-child(2) .side_lnb:nth-child(6):hover + .side_sub_face {display: block;}
header .side_category li:nth-child(2) .side_lnb .side_sub_face {
    display: none;
    position: absolute; right: -180px; top: 180px;
}
header .side_category li:nth-child(2) .side_lnb .side_sub_face a {
    font-size: 1rem; margin-bottom: 10px; color: #666;
}
/* 햄버거 사이드 메뉴 */
/* ---------  product-lnb의 네일 ★sub lnb★ */
header .side_category li:nth-child(2) .side_lnb:nth-child(7):hover + .side_sub_nail {display: block;}
header .side_category li:nth-child(2) .side_lnb .side_sub_nail {
    display: none;
    position: absolute; right: -180px; top: 210px;
}
header .side_category li:nth-child(2) .side_lnb .side_sub_nail a {
    font-size: 1rem; margin-bottom: 10px; color: #666;
}
/* 햄버거 사이드 메뉴 */
/* ---------  product-lnb의 스킨케어 ★sub lnb★ */
header .side_category li:nth-child(2) .side_lnb:nth-child(8):hover + .side_sub_skin {display: block;}
header .side_category li:nth-child(2) .side_lnb .side_sub_skin {
    display: none;
    position: absolute; right: -180px; top: 240px; 
}
header .side_category li:nth-child(2) .side_lnb .side_sub_skin a {
    font-size: 1rem; margin-bottom: 10px; color: #666;
}
/* 햄버거 사이드 메뉴 */
/* ---------  product-lnb의 마스크팩 ★sub lnb★ */
header .side_category li:nth-child(2) .side_lnb:nth-child(9):hover + .side_sub_mask {display: block;}
header .side_category li:nth-child(2) .side_lnb .side_sub_mask {
    display: none;
    position: absolute; right: -180px; top: 270px; 
}
header .side_category li:nth-child(2) .side_lnb .side_sub_mask a {
    font-size: 1rem; margin-bottom: 10px; color: #666;
}
/* 햄버거 사이드 메뉴 */
/* ---------  product-lnb의 클렌저 ★sub lnb★ */
header .side_category li:nth-child(2) .side_lnb:nth-child(10):hover + .side_sub_cleansing {display: block;}
header .side_category li:nth-child(2) .side_lnb .side_sub_cleansing {
    display: none;
    position: absolute; right: -180px; top: 305px; 
}
header .side_category li:nth-child(2) .side_lnb .side_sub_cleansing a {
    font-size: 1rem; margin-bottom: 10px; color: #666;
}
/* 햄버거 사이드 메뉴 */
/* ---------  product-lnb의 바디 ★sub lnb★ */
header .side_category li:nth-child(2) .side_lnb:nth-child(11):hover + .side_sub_body {display: block;}
header .side_category li:nth-child(2) .side_lnb .side_sub_body {
    display: none;
    position: absolute; right: -180px; top: 335px; 
}
header .side_category li:nth-child(2) .side_lnb .side_sub_body a {
    font-size: 1rem; margin-bottom: 10px; color: #666;
}
/* 햄버거 사이드 메뉴 */
/* ---------  product-lnb의 헤어 ★sub lnb★ */
header .side_category li:nth-child(2) .side_lnb:nth-child(12):hover + .side_sub_hair {display: block;}
header .side_category li:nth-child(2) .side_lnb .side_sub_hair {
    display: none;
    position: absolute; right: -180px; top: 370px; 
}
header .side_category li:nth-child(2) .side_lnb .side_sub_hair a {
    font-size: 1rem; margin-bottom: 10px; color: #666;
}
/* 햄버거 사이드 메뉴 */
/* ---------  product-lnb의 툴 ★sub lnb★ */
header .side_category li:nth-child(2) .side_lnb:nth-child(13):hover + .side_sub_tool {display: block;}
header .side_category li:nth-child(2) .side_lnb .side_sub_tool {
    display: none;
    position: absolute; right: -180px; top: 400px; 
}
header .side_category li:nth-child(2) .side_lnb .side_sub_tool a {
    font-size: 1rem; margin-bottom: 10px; color: #666;
}
/* 햄버거메뉴 > official-lnb */
header .side_category li:nth-child(5):hover .side_lnb {display: block;}
header .side_category li:nth-child(5) .side_lnb {display: none; top:450px;}
header .side_category li:nth-child(5) .side_lnb a {
    font-size: 1.4rem; margin-bottom: 20px; width:140px; font-weight: 500;
}
header .side_category li:nth-child(5) .side_lnb a img {height: 19px;}
/* 햄버거메뉴 > store-lnb */
header .side_category li:nth-child(6):hover .side_lnb {display: block;}
header .side_category li:nth-child(6) .side_lnb {display: none; top:510px;}
header .side_category li:nth-child(6) .side_lnb a {
    font-size: 1.4rem; margin-bottom: 20px; width:140px; font-weight: 500;
}
header .side_category li:nth-child(6) .side_lnb a img {height: 20px;}
/* 햄버거메뉴 > contact-lnb */
header .side_category li:nth-child(7):hover .side_lnb {display: block;}
header .side_category li:nth-child(7) .side_lnb {display: none; top:570px;}
header .side_category li:nth-child(7) .side_lnb a {
    font-size: 1.4rem; margin-bottom: 20px; width:140px; font-weight: 500;
}
header .side_category li:nth-child(7) .side_lnb a img {height: 20px;}
/* 햄버거메뉴 > membership-lnb */
header .side_category li:nth-child(8):hover .side_lnb {display: block;}
header .side_category li:nth-child(8) .side_lnb {display: none; top:630px;}
header .side_category li:nth-child(8) .side_lnb a {
    font-size: 1.4rem; margin-bottom: 20px; width:140px; font-weight: 500;
}
header .side_category li:nth-child(8) .side_lnb a img {height: 20px;}
/* 햄버거메뉴 > 뽀오얀-lnb  */
header .side_category li:nth-child(9):hover .side_lnb {display: block;}
header .side_category li:nth-child(9) .side_lnb {display: none; top:690px;}
header .side_category li:nth-child(9) .side_lnb a {
    font-size: 1.4rem; margin-bottom: 20px; width:160px; font-weight: 500;
}
header .side_category li:nth-child(9) .side_lnb a img {height: 20px;}
/* 햄버거메뉴 - 네이버버튼 */
header .naver_store_btn {display: none;}
header .naver_store_btn .naver_store_list {}
header .naver_store_btn .naver_store_list > a {}
header .naver_store_btn > a {}
header .naver_store_btn > a > span {}
header .naver_store_btn > a > img {}
/* 모바일용 전체 메뉴 */
header .m_all_menu {display: none;}
header .m_all_menu .top {}
header .m_all_menu .top .search_form {}
header .m_all_menu .top .search_form fieldset {}
header .m_all_menu .top .search_form fieldset #m_search_form {}
header .m_all_menu .top .search_form fieldset #m_src_btn {}
header .m_all_menu .top .search_form fieldset #m_src_btn > img {}
header .m_all_menu .top > .btn_barmenu {}
header .m_all_menu .top > .btn_barmenu span {}
header .m_all_menu .title_tap {}
header .m_all_menu .title_tap > a {}
header .m_all_menu .menu_gnb {}
header .m_all_menu .menu_gnb > ul {}
header .m_all_menu .menu_gnb > ul > li {}
header .m_all_menu .menu_gnb > ul > li > a {}
header .m_all_menu .menu_gnb > ul > li > a > p {}
header .m_all_menu .menu_gnb > ul > li > a > .title {}
header .m_all_menu .menu_gnb > ul > li > a > .icon_plus {}
header .m_all_menu .menu_gnb > ul > li > a > .icon_plus > span {}
header .m_all_menu .menu_gnb > ul > li > .m_lnb {}
header .m_all_menu .menu_gnb > ul > li > .m_lnb > a {}
header .m_all_menu .menu_gnb .m_naver_store_btn {}
header .m_all_menu .menu_gnb .m_naver_store_btn .list {}
header .m_all_menu .menu_gnb .m_naver_store_btn .list > a {}
header .m_all_menu .menu_gnb .m_naver_store_btn > a {}
header .m_all_menu .menu_gnb .m_naver_store_btn > a > span {}
header .m_all_menu .menu_gnb .m_naver_store_btn > a > img {}
header .m_all_menu .category_gnb {}
header .m_all_menu .category_gnb .left {}
header .m_all_menu .category_gnb .left > ul {}
header .m_all_menu .category_gnb .left > ul > li {}
header .m_all_menu .category_gnb .left > ul > li > a {}
header .m_all_menu .category_gnb .left > ul > li > a > p {}
header .m_all_menu .category_gnb .left > ul > li > a .title {}
header .m_all_menu .category_gnb .left > ul > li > a .icon_plus {}
header .m_all_menu .category_gnb .left > ul > li > a .icon_plus span {}
header .m_all_menu .category_gnb .left > ul > li > .m_lnb {}
header .m_all_menu .category_gnb .left > ul > li > .m_lnb > a {}
/* footer */
footer {display: none;}
footer .first {}
footer .first .harf_left {}
footer .first .harf_left > p {}
footer .first .harf_left > p > a {}
footer .first .harf_left > a {}
footer .first .harf_right {}
footer .first .harf_right .family_site {}
footer .first .harf_right .family_site > a {}
footer .first .harf_right .family_site > a > span {}
footer .first .harf_right .family_site > a > .btn_arw {}
footer .first .harf_right .family_site .btn_lnb1 {}
footer .first .harf_right .family_site .btn_lnb1 > a {}
footer .first .harf_right .site_map {}
footer .first .harf_right .site_map > a {}
footer .first .harf_right .site_map > a > span {}
footer .first .harf_right .site_map > a > .btn_arw {}
footer .first .harf_right .site_map .btn_lnb2 {}
footer .first .harf_right .site_map .btn_lnb2 .left {}
footer .first .harf_right .site_map .btn_lnb2 .left .title {}
footer .first .harf_right .site_map .btn_lnb2 .left .title > li {}
footer .first .harf_right .site_map .btn_lnb2 .left .title > li > a {}
footer .first .harf_right .site_map .btn_lnb2 .left .sub {}
footer .first .harf_right .site_map .btn_lnb2 .left .sub > li {}
footer .first .harf_right .site_map .btn_lnb2 .left .sub > li > a {}
footer .first .harf_right .site_map .btn_lnb2 .left .sub > li > ul {}
footer .first .harf_right .site_map .btn_lnb2 .left .sub > li > ul > li {}
footer .first .harf_right .site_map .btn_lnb2 .left .sub > li > ul > li > a {}
footer .second {}
footer .second a {}
footer .info {}
footer .info .info_left {}
footer .info .info_left .container {}
footer .info .info_left .container .footer_logo {}
footer .info .info_left .container .footer_logo img {}
footer .info .info_left .container .info_txt {}
footer .info .info_left .container .info_txt > p {}
footer .info .info_left > p {}
footer .info .info_left > p em {}
footer .info .info_right {}
footer .info .info_right > p {}
footer .info .info_right > p > strong {}
footer .info .info_right .container {}
footer .info .info_right .container .icon_img {}
footer .info .info_right .container .icon_img > img {}
footer .info .info_right .container .info_guide {}
footer .info .info_right .container .info_guide .tel_number {}
footer .info .info_right .container .info_guide .tel_number > span {}
footer .info .info_right .container .info_guide .time {}
footer .info .info_right .container .info_guide .time > span {}
footer .info .info_right .container .info_guide .email {}
footer .info .info_right .container .info_guide .email > span {}
footer .info .info_right .container .info_guide .email > span {}
footer .sns_icon {}
footer .sns_icon > a {}
footer .sns_icon > a > img {}