/* 사이트 이동하기 버튼 */
.btn {display: none;}
.btn .btn_up {}
.btn .btn_up img {}
.btn .btn_plus {}
.btn .btn_plus img {}
.btn #plus_popup {}
.btn #plus_popup a {}
.btn #plus_popup a span {}
.btn #plus_popup a img {}
/* header 영역 */
header {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between; align-items: center;
    height: 100px; width:100%; margin: 0 auto;
    padding: 33px 60px 0 70px; position: relative;
}
header > .left {display: flex; align-items: center;}
header .left h1 {}
header .left h1 a {}
header .left h1 a img {width:108px;}
/* header > nav */
header .left nav {}
header .left nav .gnb {display: flex; z-index: 700;}
header .left nav .gnb li {}
header .left nav .gnb > li > a {z-index: 700;
    margin-left: 60px; color:#333;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 800; letter-spacing: -0.02em;
}
/* header > nav > product 의 lnb영역 */
header .left nav .gnb li .lnb_bg {
    /* background-color:rgba(256, 256, 256, 0.4);  */
    /* background-color: aquamarine;  */ 
    position: absolute; left:0; top:0; width:100%; height: 460px; 
}
header .left nav .gnb li .lnb_bg .lnb {
    /* background-color: aqua; */
    display: flex; flex-flow:row nowrap; justify-content: space-between; 
    color:#111;  
    width: 1400px;  position: absolute; left:120px; top:100px; 
}
header .left nav .gnb li .lnb_bg .lnb .left {
    /* background-color: chartreuse; */
    display: inline-block; 
    width: 100px; top:0px;
}
header .left nav .gnb li .lnb_bg .lnb .left a {display: block; margin-bottom: 20px; }
header .left nav .gnb li .lnb_bg .lnb .left a:nth-child(1) img {margin-left: 30px;}
header .left nav .gnb li .lnb_bg .lnb .left a:nth-child(2) img {margin-left: 16px;}
header .left nav .gnb li .lnb_bg .lnb .right {
    /* background-color: chocolate; */
    flex-flow:row nowrap; 
    align-items:flex-start; 
    margin:0 20px; position: absolute; left:200px; top:0px;
}
header .left nav .gnb li .lnb_bg .lnb .right > li {padding:0 20px;}
header .left nav .gnb li .lnb_bg .lnb .right > li > a {font-weight: 500; color:#111;}
header .left nav .gnb li .lnb_bg .lnb .right > li > ul {margin-top:20px;}
header .left nav .gnb li .lnb_bg .lnb .right > li > ul > li {margin-bottom: 10px;}
header .left nav .gnb li .lnb_bg .lnb .right > li > ul > li > a {
    font-weight: normal;
    font-size: 0.875rem;
}
/* header > nav > brand 의 lnb영역 */
header .left nav .gnb li .lnb_bg .lnb > a {display: none;}
/* header > 오른쪽 검색 & 햄버거 아이콘 영역 */
header .right {display: flex; align-items: center;}
header .right .btn_search {}
header .right .btn_search img {margin-right: 10px; width: 40px;}
/* header > right > 검색할 때 열리는 창  */
header .right .search_bg {display: none;}
header .right .search_bg .src_head {}
header .right .search_bg .src_head h1 {}
header .right .search_bg .src_head h1 a {}
header .right .search_bg .src_head h1 a img {}
header .right .search_bg .src_head .btn_x {}
header .right .search_bg .src_head .btn_x img {}
header .right .search_bg .src_contens {}
header .right .search_bg .src_contens h2 {}
header .right .search_bg .src_contens h2 .search_form {}
header .right .search_bg .src_contens h2 .search_form fieldset {}
header .right .search_bg .src_contens h2 .search_form fieldset #search_form {}
header .right .search_bg .src_contens h2 .search_form fieldset #src_btn {}
header .right .search_bg .src_contens h2 .search_form fieldset #src_btn img {}
header .right .search_bg .src_contens .src_comment {}
header .right .search_bg .src_contens .src_comment h3 {}
header .right .search_bg .src_contens .src_comment h3 > span {}
header .right .search_bg .src_contens .src_comment a {}
/* header > right > 햄버거바 클릭할 때 열리는 창 */
header .right .btn_barmenu {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
}
header .right .btn_barmenu > span:nth-child(1) {height: 2px;}
header .right .btn_barmenu > span:nth-child(2) {height: 2px;}
header .right .btn_barmenu > span:nth-child(3) {height: 2px;}
header .right .btn_barmenu > span {
    content: ''; display: inline-block; 
    width:21px; background-color: #333;
    margin:4px 0;
}
header .right .menu_bg {display: none;}
header .right .menu_bg .side_category {}
header .right .menu_bg .side_category > li {}
header .right .menu_bg .side_category > li > a {}
header .right .menu_bg .side_category > li > ul {}
header .right .menu_bg .side_category > li > ul > li {}
header .right .menu_bg .side_category > li > ul > li > a {}
header .right .menu_bg .side_category > li > ul > li > a > img {}
header .right .menu_bg .naver_store_btn {}
header .right .menu_bg .naver_store_btn .naver_store_list {}
header .right .menu_bg .naver_store_btn .naver_store_list > a {}
header .right .menu_bg .naver_store_btn > a {}
header .right .menu_bg .naver_store_btn > a > span {}
header .right .menu_bg .naver_store_btn > a > img {}
/* 모바일용 전체 메뉴 */
header .m_all_menu {display: none;}
header .m_all_menu .top {}
header .m_all_menu .top .search_form {}
header .m_all_menu .top .search_form fieldset {}
header .m_all_menu .top .search_form fieldset #m_search_form {}
header .m_all_menu .top .search_form fieldset #m_src_btn {}
header .m_all_menu .top .search_form fieldset #m_src_btn > img {}
header .m_all_menu .top > .btn_barmenu {}
header .m_all_menu .top > .btn_barmenu span {}
header .m_all_menu .title_tap {}
header .m_all_menu .title_tap > a {}
header .m_all_menu .menu_gnb {}
header .m_all_menu .menu_gnb > ul {}
header .m_all_menu .menu_gnb > ul > li {}
header .m_all_menu .menu_gnb > ul > li > a {}
header .m_all_menu .menu_gnb > ul > li > a > p {}
header .m_all_menu .menu_gnb > ul > li > a > .title {}
header .m_all_menu .menu_gnb > ul > li > a > .icon_plus {}
header .m_all_menu .menu_gnb > ul > li > a > .icon_plus > span {}
header .m_all_menu .menu_gnb > ul > li > .m_lnb {}
header .m_all_menu .menu_gnb > ul > li > .m_lnb > a {}
header .m_all_menu .menu_gnb .m_naver_store_btn {}
header .m_all_menu .menu_gnb .m_naver_store_btn .list {}
header .m_all_menu .menu_gnb .m_naver_store_btn .list > a {}
header .m_all_menu .menu_gnb .m_naver_store_btn > a {}
header .m_all_menu .menu_gnb .m_naver_store_btn > a > span {}
header .m_all_menu .menu_gnb .m_naver_store_btn > a > img {}
header .m_all_menu .category_gnb {}
header .m_all_menu .category_gnb .left {}
header .m_all_menu .category_gnb .left > ul {}
header .m_all_menu .category_gnb .left > ul > li {}
header .m_all_menu .category_gnb .left > ul > li > a {}
header .m_all_menu .category_gnb .left > ul > li > a > p {}
header .m_all_menu .category_gnb .left > ul > li > a .title {}
header .m_all_menu .category_gnb .left > ul > li > a .icon_plus {}
header .m_all_menu .category_gnb .left > ul > li > a .icon_plus span {}
header .m_all_menu .category_gnb .left > ul > li > .m_lnb {}
header .m_all_menu .category_gnb .left > ul > li > .m_lnb > a {}
/* footer */
footer {display: none;}
footer .first {}
footer .first .harf_left {}
footer .first .harf_left > p {}
footer .first .harf_left > p > a {}
footer .first .harf_left > a {}
footer .first .harf_right {}
footer .first .harf_right .family_site {}
footer .first .harf_right .family_site > a {}
footer .first .harf_right .family_site > a > span {}
footer .first .harf_right .family_site > a > .btn_arw {}
footer .first .harf_right .family_site .btn_lnb1 {}
footer .first .harf_right .family_site .btn_lnb1 > a {}
footer .first .harf_right .site_map {}
footer .first .harf_right .site_map > a {}
footer .first .harf_right .site_map > a > span {}
footer .first .harf_right .site_map > a > .btn_arw {}
footer .first .harf_right .site_map .btn_lnb2 {}
footer .first .harf_right .site_map .btn_lnb2 .left {}
footer .first .harf_right .site_map .btn_lnb2 .left .title {}
footer .first .harf_right .site_map .btn_lnb2 .left .title > li {}
footer .first .harf_right .site_map .btn_lnb2 .left .title > li > a {}
footer .first .harf_right .site_map .btn_lnb2 .left .sub {}
footer .first .harf_right .site_map .btn_lnb2 .left .sub > li {}
footer .first .harf_right .site_map .btn_lnb2 .left .sub > li > a {}
footer .first .harf_right .site_map .btn_lnb2 .left .sub > li > ul {}
footer .first .harf_right .site_map .btn_lnb2 .left .sub > li > ul > li {}
footer .first .harf_right .site_map .btn_lnb2 .left .sub > li > ul > li > a {}
footer .second {}
footer .second a {}
footer .info {}
footer .info .info_left {}
footer .info .info_left .container {}
footer .info .info_left .container .footer_logo {}
footer .info .info_left .container .footer_logo img {}
footer .info .info_left .container .info_txt {}
footer .info .info_left .container .info_txt > p {}
footer .info .info_left > p {}
footer .info .info_left > p em {}
footer .info .info_right {}
footer .info .info_right > p {}
footer .info .info_right > p > strong {}
footer .info .info_right .container {}
footer .info .info_right .container .icon_img {}
footer .info .info_right .container .icon_img > img {}
footer .info .info_right .container .info_guide {}
footer .info .info_right .container .info_guide .tel_number {}
footer .info .info_right .container .info_guide .tel_number > span {}
footer .info .info_right .container .info_guide .time {}
footer .info .info_right .container .info_guide .time > span {}
footer .info .info_right .container .info_guide .email {}
footer .info .info_right .container .info_guide .email > span {}
footer .info .info_right .container .info_guide .email > span {}
footer .sns_icon {}
footer .sns_icon > a {}
footer .sns_icon > a > img {}